
.img-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	background-color: var(--color-sand);
}
.img-container.selected {
	position: absolute;
    width: -webkit-fill-available;
    z-index: 1;
    height: 600px;
}
img, video {
	/* height: 250px; */
	height: 15vh;
	  width: auto;
}

/* hr {
  margin-right: 0.8rem;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.card {
  background-clip: padding-box;
  color: var(--sds-c-card-text-color);
  border-width: var(--sds-c-card-sizing-border, 1px);
  border-radius: var(--sds-c-card-radius-border, 0.25rem);
  box-shadow: var(--sds-c-card-shadow, 0 2px 2px 0 rgba(0, 0, 0, 0.1));
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  min-height: 4rem;
  margin: 1rem;
  width: 100%;
  max-width: 750px;
  background: var(--color-primary-text);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header {
  padding: 0;
  margin: 0;
  height: auto;
  background: #146584;
  text-align: center;
  border-radius: 0.25rem 0.25rem 0px 0px;
}
img.thumb {
  max-width: 400px;
  max-height: 200px;
  padding: 0px;
  margin: -3px;
}

.content {
  padding: 0px 0px 0.75em 1em;
}

.footer {
  padding: 0.75em 0px 0.75em 1em;
}

h2 {
  padding-top: 0.8rem;
  margin: 0 auto;
}

span.trigger_info {
  text-align: center;
}
span.trigger_info > svg {
  width: 50px;
  height: auto;
  cursor: pointer;

  border-radius: 25px;
  fill: var(--color-primary);

  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: var(--color-tertiary);
  box-shadow: 0 0 5px var(--color-secondary);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  z-index: 99;
}
span.trigger_info svg.true {
  transform: rotate(180deg);
}

a.deploy {
  display: inline-flex;
  cursor: pointer;
  border-radius: 25px;
  background-color: var(--color-lightest);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  align-items: center;
  color: var(--color-mid);
}
a.deploy span {
  line-height: 8vw;
}
a.deploy svg {
  width: 8vw;
  height: 8vw;
  margin: 0.8em;
  min-width: 2rem;
  min-height: 2rem;
  max-width: 3em;
  max-height: 3em;

  background-color: var(--color-lightest);
  fill: var(--color-mid);

  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}


.description {
  padding: 0.8rem 0;
  background: var(--color-primary-text);
}



.left {
  text-align: left;
}

.center {
  text-align: center;
}


.details {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  background: var(--color-primary-text);
  border-radius: 0px 0px 8px 8px;
  padding-bottom: 0.4rem;
}
.details > p {
  font-size: 1rem;
}
.details > b {
  font-size: 1rem;
}
.docs {
  user-select: none;
  font-size: 0.8rem;
  overflow: hidden overlay;
  border-radius: 0px 0px 5px 5px;
  margin: 0px 1.5rem;
  max-width: 37rem;
  width: -webkit-fill-available;
  margin: 0 auto;
} */