.container {
  display: flex;
  justify-content: center;
}
.container.large {
  width: 100vw;
  height: 100vh;
}

.card {
  background-clip: padding-box;
  color: var(--sds-c-card-text-color);
  border-width: var(--sds-c-card-sizing-border, 1px);
  border-radius: var(--sds-c-card-radius-border, 0.25rem);
  box-shadow: var(--sds-c-card-shadow, 0 2px 2px 0 rgba(0, 0, 0, 0.1));
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  min-height: 4rem;
  background-color: #FFF;
  color: var(--color-dark);
  margin: 1rem;
  width: 100%;
  max-width: 750px;
  text-align: left;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
  max-height: 90vh;
}
.card.large {
  display: grid;
  grid-template-areas: "header" "content" "footer";
  grid-template-rows: 2fr 96fr auto;
  grid-template-columns: 100%;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header {
  padding: 0.75em 0px 0.75em 1em;
  font-size: 1.15em;
}

.content {
  padding: 0px 0px 0.75em 1em;
}

.footer {
  padding: 0.75em 0px 0.75em 1em;
}
