/* .drawer-bg {
    user-select: none;
    height: 100vh;
    width: -webkit-fill-available;
    display: grid;
    grid-template-columns: minmax(400px, 4fr) auto;
    background: var(--color-dark);
	opacity: 0.7;
} */
.drawer-container {
    height: 100vh;
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 4rem auto 3rem;
	color: var(--color-dark);
    background: var(--color-bright);
}

.header {
  padding: 0.75em 0px 0.75em 1em;
  font-size: 1.25em;
  vertical-align: middle;
  line-height: 2em;
}

div.item {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--color-dark);
  display: block;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;
}

div.item:hover {
  color: var(--color-quaternary);
}

div.item.active {
  text-decoration: underline;
  text-underline-position: under;
}

/* .version-container {
	position: relative;
} */
.version {
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  .item {
    padding: 8px;
  }
}
